<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vole.dao.ArticleDao">

	<resultMap type="Article" id="ArticleResult">
		<result property="id" column="id"/>
		<result property="title" column="title"/>
		<result property="publishDate" column="publishDate"/>
		<result property="content" column="content"/>
		<result property="summary" column="summary"/>
		<result property="titleColor" column="titleColor"/>
		<result property="click" column="click"/>
		<result property="isRecommend" column="isRecommend"/>
		<result property="isSlide" column="isSlide"/>
		<result property="slideImage" column="slideImage"/>
		<!--外键关联-->
		<association property="arcType" column="typeId" select="com.vole.dao.ArcTypeDao.findById"></association>
	</resultMap>

	<select id="getNewest" resultMap="ArticleResult">
		SELECT * FROM t_article ORDER by publishDate DESC limit 0,7
	</select>

	<select id="getRecommend" resultMap="ArticleResult">
		SELECT * FROM t_article WHERE isRecommend=1 ORDER by publishDate DESC limit 0,7
	</select>

	<select id="getSlide" resultMap="ArticleResult">
		SELECT * FROM t_article WHERE isSlide=1 ORDER by publishDate DESC limit 0,5
	</select>

	<select id="getIndex" parameterType="Integer" resultMap="ArticleResult">
		SELECT * FROM t_article WHERE typeId=#{typeId} ORDER by publishDate DESC limit 0,8
	</select>

</mapper> 